body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1f);
    grid-template-rows: repeat(7, minmax(30px, auto));
    grid-template-areas: 
    "header header header header header"
    "banner banner banner banner banner"
    "icon icon icon icon icon"
    "notificacao notificacao notificacao notificacao notificacao"
    "video video video video video"
    "depoimentos depoimentos depoimentos depoimentos depoimentos"
    "footer footer footer footer footer";
}

header{
    grid-area: header;
    background-color: red;
}

.banner{
    grid-area: banner;
    background-color: yellow;
}

.icon{
    grid-area: icon;
    background-color: blue;
}

.notificacao{
    grid-area: notificacao;
    background-color: #e3e3e3;
    display: block;
    padding: 2px 30px;
}

h3{
    font-size: 14pt;
}

p, a{
    color: #909090;
}

p{
    text-align: justify;
    text-indent: 15px;
}

form{
    display: flex;
    justify-content: center;
}

input{
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 10px 0 0 10px;
    color: #909090;
    width: 150px;
    height: 30px;
    padding: 0 10px;
    justify-content: space-between;
}

button{
    background-color: #2dcc70;
    border: solid 1px #2dcc70;
    border-radius: 0 10px 10px 0;
    color: #fff;
    width: 80px;   
    justify-content: space-between; 
}

.video{
    grid-area: video;
    background-color: orange;
}

.depoimentos{
    grid-area: depoimentos;
    background-color: #fff;
    display: block;
    padding: 2px 30px;
}

.citacao{
    font-size: 8pt;
    font-style: italic;
    text-align: center;
}

h5{
    font-size: 10pt;
    text-align: center;
}

.imagens-depoimentos{
    display: flex;
}

.imagens-depoimentos img{
    height: 25px;
    resize: none
}





footer{
    grid-area: footer;
    background-color: green;
}