body{
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1f);
    grid-template-rows: repeat(8, minmax(10px, auto));
    grid-template-areas: 
        "header header header header header"
        "banner banner banner banner banner"
        ". icon icon icon ."
        "notificacao notificacao notificacao video video"
        "depoimentos depoimentos depoimentos depoimentos depoimentos"
        "footer footer footer footer footer";
}

header{
    grid-area: header;
    background-color: green;
    width: 100%;
    
}

.banner{
    grid-area: banner;
    width: 100%;
    height: 100px;
    
    
}
h1{
    font-family: 'Pacifico', cursive;
    position: absolute; 
    top: 130px; 
    left: 20%; 
    width: 100%; 
    font-size: 40px;
    color: white;
    font-weight: 100;
    
}

.frase{
        position: absolute; 
        top: 250px; 
        left: 20%; 
        width: 100%; 
        font-size: 40px;
        color: white;
        font-size: 30px;
        font-family: cursive, sans-serif;
     font-weight: 100;
        
    }

.frase2{
        position: absolute; 
        top: 300px; 
        left: 20%; 
        width: 100%; 
        font-size: 40px;
        color: white;
        font-size: 30px;
         font-family: cursive, sans-serif;
         font-weight: 100;
        
    }

.mao{
    position: absolute; 
        top: 106px; 
        left: 60%; 
        color: white;

}

.icons{
    display: flex;
    justify-content: space-around;
    position: absolute; 
    top: 450px; 
    left: 25%;
     width: 200px;
   
    
    }

.icons img{
    display: flex;
    align-items: center;
    margin: 15px;
    height: 20px;
    width: 20px;
}

    /* BACKGROUND ICONS PEQUENO */
.sombra-preta{
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
    background-color: black;
    width: 50px;
    height: 50px;
    opacity:0.65;
	-moz-opacity: 0.40;
    filter: alpha(opacity=65);
    
}

.sombra-preta:hover{
    
}




img-banner{
    position: relative;
    width: 100%;
}

span{
    color: green;
       
}

/*CSS ICONS GRANDE*/
.icon{
    grid-area: icon;
    display: flex;
    justify-content: space-around;
    margin-top: 600px;
    text-align: left;
    font-size: 20px;
}

.icon img{
    display: flex;
    align-items: center;
    margin: 40px;
    top: 10px;
    height: 50px;
    width: 50px;
}
.icon h2 {
    display: flex;
    align-items: center;
    margin: 40px;
    font-family: cursive, sans-serif;
    font-weight: 100;
}

.icon p{
    display: flex;
    align-items: flex-end;
    color: gray;
    font-weight: 100;
}

.verde{
     display: flex;
    align-items: center;
    margin: 70px;    
    border-radius: 70%;
    height: 130px;
    width: 130px;
    background-color: green;
    opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
    
}
    

.notificacao{
    grid-area: notificacao;
}

.video{
    grid-area: video;
}

.depoimentos{
    grid-area: depoimentos;
}
